body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    background: #f0f0f5;
}

form, .result {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid #000;
    padding: 20px 0;
    background-color: #FFF;
}

form .input-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 0.8rem;
}

form .input-container input {
    margin-top: 0.2rem;
    padding: 0.4rem;
}

form button {
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    width: 60%;
    padding: 0.8rem;
    border-radius: 10px;
    cursor: pointer;

    background-color: #27f584;
    color: #FFF;
    transition-duration: background-color 400ms;
}

form button:hover {
    background-color: #2fb85e;
}

form .result {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid #000; 
    padding: 0.8rem 1.2rem; 
    border-radius: 10px;
}

form .result h2 {
    margin-top: 0;
}

table {
    border: none;
}

th, td {
    border: none;
    background-color : #dddddd;
    padding: 5px;
    width: 250px;
}

td {
    padding-left: 20px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}